<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>MENÚ</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">Todos los derechos reservados a RegistrAPP Duoc UC.</ion-content>
    <ion-button class="btn-cerrar-sesion" color="warning" routerLink="/login">Cerrar Sesión</ion-button>
  </ion-menu>
  <div class="ion-page" id="main-content">

    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>MENÚ</ion-title>
      </ion-toolbar>
      <ion-content class="ion-padding"> Bienvenido (USUARIO-DOCENTE). </ion-content>
    </ion-header>

    <div class="gift_anima">
      <img alt="" src="../../../assets/img/aplausos.gif" />
    </div>

    <div class="btn-registro-asis">
      <ion-button expand="block" color="warning" routerLink="/registro-codigo">Registrar Asistencia</ion-button>
    </div>
  </div>
</ion-app>