<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>Login RegistrAPP</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="logo-login" style="display: flex; justify-content: center; margin-top: 20px;">
    <ion-img src="../../../assets/img/logo-RegistrAPP.png" style="max-width: 200px;"></ion-img>
  </div>

  <div style="margin-top: 40px; padding: 0 20px;">
    <ion-input [(ngModel)]="username" label="Usuario" label-placement="floating" fill="outline" placeholder="Ingrese su nombre de usuario"></ion-input>
  </div>

  <div style="margin-top: 20px; padding: 0 20px;">
    <ion-input [(ngModel)]="password" label="Contraseña" type="password" label-placement="floating" fill="outline" placeholder="Ingrese su contraseña"></ion-input>
  </div>


  <div style="display: flex; justify-content: center; margin-top: 30px;">
    <ion-button expand="block" color="warning" style="width: 80%;" (click)="login()">Ingresar</ion-button>
  </div>

  <div style="display: flex; justify-content: space-between; padding: 0 20px; margin-top: 15px;">
    <a style="font-size: 14px;" routerLink="/recuperar-contra">¿Se te olvidó la contraseña?</a>
    <a style="font-size: 14px;" routerLink="/registro">¿No tienes cuenta?</a>
  </div>

</ion-content>

