.logo-login {
    width: fit-content;
    margin-left: 80px;
    margin-top: 30px;
    /*align-items: center;*/
}

ion-content {
    --background : white;
  }

.input-login {
    margin: 10px;
    padding: 5px;
    background: grey;
}

.btn-login {
    text-align: center;
}