<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>RECUPERAR CONTRA..</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="gift-contra">
    <img alt="Silhouette of mountains" src="../../../assets/img/clave.gif" width="200" />
  </div>

  <ion-list>
    <ion-item>
      <ion-input labelPlacement="floating" placeholder="hi@ionic.io">
        <div slot="label">Correo</div>
      </ion-input>
    </ion-item>
  </ion-list>

  <div class="btn-enviar-correo">
    <ion-button color="warning" routerLink="/nueva-contra">Enviar</ion-button>
  </div>

</ion-content>