<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>EScanear QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-buttons slot="start">
  <ion-back-button default-href="/home"></ion-back-button>
</ion-buttons>

<ion-content [fullscreen]="true">
  <ion-card>
    <div class="img-confirmar">
      <img alt="" src="../../../assets/img/QR.png" width="300" />
    </div>

  </ion-card>

  <div>
    <ion-button expand="block" routerLink="/secciones">Ver Alumnos</ion-button>
  </div>
  
</ion-content>