<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PÁGINA PRINCIPAL
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="logo-app" color="light">
    <div class="imagen">
      <img alt="Silhouette of mountains" src="../../../assets/img/logo-duoc-2.png" />
    </div>
    <ion-card-header>
      <ion-card-title>RegistrAPP</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Bienvenido a nuestra APP de registro de asistencia.
    </ion-card-content>
  </ion-card>

  <div class="btn-ingreso">
    <ion-button expand="block" color="warning" routerLink="/login">ENTRAR</ion-button>
  </div>

</ion-content>