.logo-app {
  text-align: center;
  margin-top: 30px;
}

.imagen {
  margin-top: 30px;
  /*margin: 40px;*/
}

.btn-ingreso {
  margin-top: 170px;
  padding: 10px;
}

ion-content {
  --background : white;
}