ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
    box-shadow: 4px 0px 16px rgb(170, 170, 106);
}

.btn-cerrar-sesion {
    margin: 20px;
}

.gift_anima {
    margin-bottom: 150px;
    text-align: center;
}

.btn-registro-asis {
    margin-bottom: 100px;
    padding: 20px;
}